/* ShopByRecipe */
/*  by DAEV.CO  */


#logo {
	text-align: center;
}

#page-title {
	font-style: italic;
	padding:5px;
	margin: 0px;
}

.section-header {
	margin-bottom: 4px;
	margin-top: 21px;
}

hr.section-header-base {
	margin-top: 0;
}

.icon-bar label {
	cursor: pointer;
}

.help-icon {
	position: relative;
	left: -23px;
	display: block;
	padding: 8px;
	width: 16px;
	height: 16px;
	background: url('../img/icon/Help.svg') no-repeat 0 0;
	background-size: 16px 16px;
	border: 1px solid;
	border-radius: 100px;
	opacity: 0.2;
}

.help-icon:hover,
.help-icon:focus {
	opacity: 0.4;
}

/*#site-name {
	margin-bottom: 0;
	text-shadow: 2px 2px 1px #333;
}

#tag-line {
	text-shadow: 1px 1px 0 #444;
}*/

label {
	cursor: auto;
}

/*dl#add-recipe {
	margin-top: 4em;
}

dt, dd {
	margin-bottom: 0.6em;
	border-bottom: 1px dashed #aaa;
}
*/

[data-under-label]:hover::after,
[data-under-label]:focus::after,
[data-under-label]:active::after {
	content: attr(data-under-label);
	font-size: 70%;
	opacity: 0.4;
	position: absolute;
	top: 36px;
	right: 15px;
	cursor: pointer;
}

.ingredient > div:first-of-type {
	position: relative;
}

.of-text {
	padding: 0;
	line-height: 38px;
	width: 38px;
	font-size: 18px;
	font-style: italic;
	font-family: cursive;
	color: #ccc;
}

#results {
	display: none;
	position: absolute;
	top: 33px;
	left: 15px;
	background: #fff;
	padding: 4px;
	border: 1px solid #ccc;
	min-width: 210px;
	max-height: 100px;
	overflow-y: auto;
	z-index: 2;
}

#results > ul {
	margin: 0;
	list-style-type: none;
	
}

#results > ul > li {
	white-space: nowrap;
	padding-right: 1.3em;
	cursor: pointer;
}

#results span.id {
	display: none;
}

.hovered {
	background: lightblue;
}

/* ------------------------------ */

#recipe-cards .category-tag {
	float: right;
	position: relative;
	top: -16px;
	background: #eee;
	line-height: 0.8em;
	padding: 0.3em 0.6em;
	border: 1px solid #ccc;
	border-radius: 0 8px 0 0;
	right: -14px;
	box-shadow: -2px 3px 3px -2px #ddd;
}

/*#recipe-cards .category-tag::before, 
#recipe-cards .category-tag::after {
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	content: "";
}
#recipe-cards .category-tag::before {
	border-width: 0 0 4px 4px;
	border-color: transparent transparent #ccc transparent;
	top: -20px;
	left: -15px;
}

#recipe-cards .category-tag::after {
	border-width: 4px 4px 0 0;
	border-color: #ccc transparent transparent transparent;
	top: 27px;
	left: 10px;
}*/

input#add-ingr[type="button"],
input.subtr-ingr[type="button"] {
	position: relative;
	top: 5px;
	left: 13px;
	padding: 6px 13px;
}

.moving-label {
	display: none;
	font-size: 70%;
	opacity: 0.5;
	position: absolute;
	top: -15px;
	right: 20px;
}

#addrecipe-form .add-recipe {
	margin-top: 20px;
}

/* --------------- */

/* probably removing this...
#description {
	position: relative;
}*/


/* --------------- */

#choose .recipe {
	margin: 8px auto;
	background: #fafafa;
	border: 1px solid #ddd;
}

#choose .title {
	padding-top: 16px;
	padding-bottom: 4px;
	border-bottom: 1px solid #aaa;
}

#choose .options {
	padding-top: 16px;
}

#choose .switch {
	top: 2.3px;
}

#choose span.id {
	display: none;
}

#choose label[for="serving"] {
	position: relative;
	left: -24px;
}

#choose .selected {
	border: 1px solid rgba(0,140,186,0.6);
}

.checkmark-icon {
	position: relative;
	left: 0px;
	top: -5px;
	display: block;
	padding: 0;
	width: 24px;
	height: 24px;
	background: url('../img/icon/Checkmark.svg') no-repeat 0 0;
	background-size: 24px 24px;
}

#choose .add-recipe {
	margin-top: 30px;
}

/* --------------- */

#recipe-cards {
	margin-top: 50px;
}

#recipe-cards ul.card-grid li.outter-card {

}

#recipe-cards div.card{
	padding: 10px;
	border: 1px solid #ccc;
	border-top-right-radius: 8px;
	box-shadow: 1px 1px 6px 1px #ddd;
}

/*#recipe-cards ul li:nth-child(odd) {
	margin-left: 8%;
}*/

#recipe-cards ul li span.recipe-id {
	display: none;
}

#recipe-cards ul li span.delete-recipe {
	cursor: pointer;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}