/* ShopByRecipe */

@import url('bootstrap.less');
/*@import url('../bootstrap.css');*/


  	nav {
		.navbar;
		.navbar-default;
	}


/***************************/


#logo {
	text-align: center;
}

#site-name {
	margin-bottom: 0;
	text-shadow: 2px 2px 1px #333
}

#tag-line {
	text-shadow: 1px 1px 0 #444;
}

label {
	cursor: auto;
}

dl#add-recipe {
	margin-top: 4em;
}

dt, dd {
	margin-bottom: 0.6em;
	border-bottom: 1px dashed #aaa;
}

/* -------------------
	Add Recipe  	*/

.ingredient {
	position: relative;
}

.results {
	display: none;
	position: absolute;
	top: 33px;
	background: #fff;
	padding: 4px;
	border: 1px solid #ccc;
	min-width: 210px;
	max-height: 100px;
	overflow-y: auto;
	z-index: 2;
}

.results ul {
	margin: 0;
	list-style-type: none;
	
}

.results ul li {
	white-space: nowrap;
	padding-right: 1.3em;
}

.results span.id {
	display: none;
}

.hovered {
	background: lightblue;
}

#recipe-cards .category-tag {
	float: right;
	position: relative;
	top: -5px;
	background: #eee;
	line-height: 0.8em;
	padding: 0.3em 0.6em;
	border: 1px solid #ccc;
	border-radius: 0 6px 0 0;
	right: -4px;
}

#add-ingr {
	display: inline-block;
	position: absolute;
	top: 8px;
	margin-left: 10px;
    background: green;
    color: white;
    font-size: 16pt;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
    width: 1em;
    cursor: pointer;
}

/* ----------------
        misc       */

.truncate {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}